body, div, img, h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dd, dt, blockquote, fieldset,
legend, label, input, textarea { margin: 0; padding: 0; border: 0; }

@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNovaRegular.otf);
}

body {
	background-color: white;
 	background: url(images/bg.png); 
 	background-repeat: no-repeat;
 	background-position: center top;
 	font-family: Arial;
 }

 h1 {
 	font-family: ProximaNova;
 	font-size: 36px;
 	color: #38a9e1;
}

#crowdfluttr {
	height: 80px;
	width: auto;
	float:right;
	margin-top: -12%;
}

#logosm {
	height: 280px;
	width: auto;
	/*  
	border-style: solid;
    border-width: 2px;
   border-color: #7ccced;

     border-radius: 650px;
*/
}



.icon {
	height: 40px;
	width: 40px;
}

#intro {
	float: left;
	margin-left: 25%;
	margin-top: 7%;
	margin-right: 35%;
}



.textelement {
	padding-left: 2%;
}

