body, div, img, h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dd, dt, blockquote, fieldset,
legend, label, input, textarea { margin: 0; padding: 0; border: 0; }

@font-face {
    font-family: motoroil;
    src: url(fonts/motoroil.ttf);
}

body {
	background-color: white;
 	background: url(images/bg.png); 
 	background-repeat: no-repeat;
 	background-position: center top;
 	font-family: Arial;
 }

 h1 {
 	font-family: motoroil, Trebuchet;
 	font-size: 36px;
 	color: #38a9e1;
}

#crowdfluttr {
	height: 80px;
	width: auto;
	margin-left: 18%;
}

#logosm {
	height: 280px;
	width: auto;
}

.smallimage {
	height: 150px;
	width: auto;
}

.icon {
	height: 40px;
	width: 40px;
}

#intro {
	float: left;
	margin-left: 25%;
	margin-top: 7%;
	margin-right: 35%;
}

#more {
	float: left;
	margin-left: 25%;
	margin-top: 20%;
	margin-right: 27%;
}

#contact {
	float: left;
	margin-left: 49%;
	margin-top: 14%;
}

#copyright {
	text-align: center;
	margin-top: 15%;
	margin-bottom: 2%;
	color: white;
}

.textelement {
	padding-left: 2%;
}

.icons {
	padding-left: 60%;
}