<html ng-app="fluttrApp">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <link rel="shortcut icon" href="images/logosm.png">

  <link type='text/css' rel='stylesheet' href='css/style.css' />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>CrowdFluttr</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage looping demo." />
	<meta name="keywords"  content="fullpage,jquery,looping,loop,loopTop,loopBottom,demo" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="js/fullPage/jquery.fullPage.css" />

	<link rel="stylesheet" type="text/css" href="js/fullPage/examples/examples.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
	<script src="js/ng-app.js"></script>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/signin.css" />

	<script type="text/javascript" src="js/fullPage/jquery.fullPage.js"></script>
	<script type="text/javascript" src="js/fullPage/examples/examples.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				//sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE'],Dark teal #38a9e1 Light teal #7ccced
			//	sectionsColor: ['#f8b040', '#7ccced', '#38a9e1'],
				anchors: ['firstPage', 'secondPage', '3rdPage'],
				menu: '#menu',
				loopTop: true,
				loopBottom: true
			});
		});
	</script>
	<style>
	@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNovaRegular.otf);
    /* font-style: italic;
    */
}
body{
	font-family:ProximaNova,sans-serif;
}
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 3em;
		font-family:ProximaNova,sans-serif;
		/*Proxima Nova*/
		color: #fff;
		margin:10px;
		padding:0;
	}
	/*according to the design*/
	#title{
text-align:left;
font-size: 3em;
/*24px*/
font-weight: bold;
	}
	#content{
font-size: 2em;
text-align:left;
/*16px*/
}

textarea {
 /*
   font-size: 40em;
  */
} 
body {
	
    background-image: url("images/MountainFuji.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
#fullpage {
/*
    z-index: -1;
    */
    background-color: #f8b040;
    opacity: 0.7;
}
#loginform{
	 z-index: -10;
	}
	</style>
}
}
</head>
<body ng-controller="fluttrCtrl">



<ul id="menu">
<img id="crowdfluttr" src="images/logo_full.svg" alt="Crowdfluttr"/>
<!--
<img id="" src="images/MountainFuji.jpg " alt="mountain"/>
-->
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">Intro</a></li>
	<li ><a href="#">HOW IT WORKS</a></li>
	<li ><a href="#">EXPLORE</a></li>
	<li ><a href="signup.html">Sign up</a></li>

	<li ng-show="loggedIn"><a ng-href="#" ng-click="logout()">Logout</a></li>
	<li ng-show="loggedIn">Welcome, {{uniqueid}}</li>
</ul>

<div id="fullpage">
	<div class="section " id="section0">
		 <div class="slide" id="slide1">
		   

  <div class="row">
  <div class="col-lg-7">
      	 <div class="textelement col-lg-offset-3">
          <P id="title">Welcome to CrowdFluttr.</h1>
			<p id="content">Share ideas with friends--and awesome people from around the world. Collaborate to realize the world's best ideas.
		</div>
  </div>
  <div class="col-lg-5" id="loginform">
  <div class="row">
         <form class="form-signin" role="form">
         <!--
        <h2 class="form-signin-heading">Please login</h2>
        -->

        <input type="email" class="form-control" ng-model="mail" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" ng-model="pass" placeholder="Password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-default btn-block" type="submit">Login</button>
        </div>
<div class="row">
	<button  class="btn btn-danger col-lg-4 col-lg-offset-4" ng-href="#" ng-click="loginGoogle()">
	<img src="images/GoogleButton.png" alt="fbtn" height="40" width="40">Login with Google</button>
	</div>
<div class="row">
	<br>
	<button  class="btn btn-primary col-lg-4 col-lg-offset-4" ng-href="#" ng-click="loginFacebook()">
	<img src="images/FacebookButton.gif" alt="gbtn" height="40" width="40">Login with Facebook</button>
	</div>
	<!--
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
-->
      </form>
  </div>
  </div>


    


		</div>

	    <div class="slide" id="slide2">


		<h1>What's your idea?</h1>

		<form role="form" ng-submit="addIdea(title)">
		<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
   <textarea class="form-control" rows="5" ng-model="title" id="idea-title" placeholder="What's your idea called?" ></textarea>
<!--
			 <input type="text" class="form-control" ng-model="title" id="idea-title" placeholder="What's your idea called?" />
			 -->
</div>
</div>
<br>
			<button type='submit' class="btn btn-success btn-lg"> MAKE IT HAPPEN</button>
		</form>
	</div>

<!--

	<div class="section" id="section1">
		<div class="intro">
			<h1>Sign up</h1>
			<input type='text' id='username' placeholder='Name'> </input>
			<input type='text' id='email' placeholder='Email'> </input>
			<button type='button'> Sign Up for Entry Access</button>
		</div>
	</div>
	<div ng-hide="loggedIn" class="section" id="section2">
		<div class="intro">
			<h1>Login</h1>

			<h4>Login with:</h4><br>
			<a ng-href="#" class="classname" ng-click="loginGoogle()">GOOGLE</a> &nbsp; &nbsp; &nbsp; 
			<a ng-href="#" class="classname" ng-click="loginFacebook()">FACEBOOK</a><br>
		</div>
	</div>
-->
</div>

</body>
</html>
