<html ng-app="fluttrApp">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <link rel="shortcut icon" href="design/images/logosm.png">

<!--  <link type='text/css' rel='stylesheet' href='design/style.css' /> -->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>CrowdFluttr</title>
	<link rel="stylesheet" type="text/css" href="js/fullPage/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="js/fullPage/examples/examples.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
	<script src="js/ng-app.js"></script>

	<script src="../js/jquery-ui.js"></script>
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/fullPage/jquery.fullPage.js"></script>
	<script type="text/javascript" src="js/fullPage/examples/examples.js"></script>

</head>
<body ng-controller="fluttrCtrl">

	<div ng-controller="ProfileCtrl">
			
		<h2>Profile</h2>
			<!--
			<img src="imgs/iphone-blue.png" alt="iphone" id="iphone-two" />
			-->
			<!--<input type='text' id='ideacontent'> </input> -->
		<p>Edit your profile. All information is automatically saved.</p>
			     <h3>Edit {{profile.$id}}</h3>
    <label>First Name:</label>
    <input type="text" ng-model="profile.fname" />
    <br>
    <label>Last Name:</label>
    <input type="text" ng-model="profile.lname" />
    <br>
    <label>Email:</label>
    <input type="email" ng-model="profile.email" />
    <br>
    <label>Phone:</label>
    <input type="tel" ng-model="profile.phone" />
    <br>

    <a href="#" ng-click="loginGoogle()">Login</a><br>
    <a href="#" ng-click="logout()">Logout</>

	</div>

</body>
</html>
